body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

table{
    width: 300px;
    border-collapse: collapse;
    position: relative;
}

thead > tr > th{
    position: sticky;
    top: 0;
    background-color: darkgray;
}

tbody >tr:nth-child(odd){
    background-color: rgba(169, 169, 169, 0.386);
}

td, th{
    border: 1px solid white;
    padding: 10px;
}
td.num{
    text-align: right;
}

td#m-1{
    width: 50px;
}

thead{
    background-color: gray;
}